body {
  height: calc(100vh-100px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('./images/bg.jpg');
}

.container {
  margin-top: 100px;
  padding:30px;
}

.container .players {
  display:flex;
  flex-wrap:wrap;
  justify-content: center;
  align-content: center;
  margin:0 auto;
  padding: 0 20px;
  max-width: 800px;
}

.container .players .player {
  width: 150px;
  height: 200px;
  background-color: #444;
  margin: 10px;
  border: 3px solid white;
  border-radius: 15px;
  transform:skewX(-12deg);
  overflow: hidden;
}

.container .players .player:hover {
  background-color: white;
  border: 3px solid black;
  transform: scale(1.3) skewX(-12deg);
  transition: 
    background-color 0.5s, 
    border 0.5s,
    transform 0.1s;
  z-index:1;
}

.container .players .player .image {
  width: 100%;
  height: 120%;
  background-size:250px;
  background-repeat: no-repeat;
  transform: skewX(12deg);
  background-position: center;
}

.container .players .player:nth-child(1) .image { 
  background-image: url('./images/messi.png'); 
  background-size: 200px;
}
.container .players .player:nth-child(2) .image { 
  background-image: url('./images/ronaldo.png'); 
  background-size: 270px;
}
.container .players .player:nth-child(3) .image { 
  background-image: url('./images/son.png'); 
  background-size: 300px;
}
.container .players .player:nth-child(4) .image { 
  background-image: url('./images/neymar.png');
  background-size: 150px;
}

.container .players .player:nth-child(5) .image { 
  background-image: url('./images/harrykane.png');
  background-size: 250px;
}

.container .players .player:nth-child(6) .image { 
  background-image: url('./images/lewandowski.png');
  background-size: 185px;
}

.container .players .player:nth-child(7) .image { 
  background-image: url('./images/pogba.png');
  background-size: 150px;
}

.container .players .player:nth-child(8) .image { 
  background-image: url('./images/kevin.png');
  background-size: 200px;
}