/* common */
a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* header */
header {
  background-color: #cecece;
}

header .inner {
  width: 1100px;
  height: 72px;
  margin: 0 auto;
  background-color: #cecece;
  position: relative;
}

header .inner a {
  position: absolute;
  top: 0;
  height: 72px;
  width: 72px;
}

header .inner a img {
  width: 100%;
  height: 100%;
}

header .inner .main-menu {
  position: relative;
  height: 50px;
}

header .inner .main-menu ul {
  display: flex;
  position: absolute;
  right: 0;
}

header .inner .main-menu ul li {
  font-size: 30px;
  line-height: 1.2;
  font-family: Arial, sans-serif;
}

header .inner .main-menu ul li.item:hover .name {
  transition: 0.2s;
  background-color: gray;
  color:white;
  border-radius: 5px 5px 0 0;
}

header .inner .main-menu ul li .name {
  padding: 10px 20px 10px 20px;
}

header .inner .main-menu ul li .content {
  width: 100%;
  position: fixed;
  left: 0;
}

header .inner .main-menu ul li .content .first {
  display:none;
  background-color: #555;
  
}

header .inner .main-menu ul li .content .second {
  display:none;
  background-color: #666;
}

header .inner .main-menu ul li.item:hover .first {
  height: 100px;
  display:block;
}

header .inner .main-menu ul li.item:hover .second {
  height: 50px;
  display:block;
}